In [13]:
from selenium import webdriver
from shutil import which
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
from selenium.webdriver.chrome.options import Options
from selenium.common.exceptions import NoSuchElementException, ElementClickInterceptedException, ElementNotInteractableException
import pandas as pd
import time

In [14]:
def jobs(keyword, num_pages):
    options = Options()
    options.add_argument("window-size=1920,1080")
    
    #Enter the chromedriver.exe path
    chrome_path = r"C:\Users\alya\Alya\ds_salary_estimator\chromedriver.exe"
    driver = webdriver.Chrome(executable_path=chrome_path, options=options)
    driver.get("https://www.glassdoor.com/Job/Home/recentActivity.htm")
    
    #Search for keyword
    search_input = driver.find_element(By.ID, "sc.keyword")
    search_input.send_keys(keyword)
    search_input.send_keys(Keys.ENTER)
    time.sleep(2)
    
    
    #Create Lists
    company_name = []
    rating = []
    job_title = []
    salary_est = []
    location = []
    job_description = []
    salary_estimate = []
    company_size = []
    company_type = []
    company_sector = []
    company_industry = []
    company_founded = []
    company_revenue = []
    
    
    
    #Set current page to 1
    current_page = 1     
        
    time.sleep(3)
    
    
    while current_page <= num_pages: #if true, current page will changed to the next page
        
        done = False
        while not done:
            job_cards = driver.find_elements(By.XPATH, "//article[@id='MainCol']//ul/li[@data-adv-type='GENERAL']")
            for card in job_cards:
                card.click()
                time.sleep(2)
                
                
                #Closes the signup prompt
                try:
                    driver.find_element(By.XPATH, ".//span[@class='SVGInline modal_closeIcon']").click()
                    time.sleep(2)
                except NoSuchElementException:
                    time.sleep(2)
                    pass

                
                #Click Show More to expand the Job Description
                try:
                    driver.find_element(By.XPATH, "//div[@class='css-t3xrds e856ufb2']").click()
                    time.sleep(1)
                except NoSuchElementException:
                    card.click()
                    print(str(current_page) + '#ERROR: no such element')
                    time.sleep(30)
                    driver.find_element(By.XPATH, "//div[@class='css-t3xrds e856ufb2']").click()
                    time.sleep(3)
                except ElementNotInteractableException:
                    card.click()
                    driver.implicitly_wait(30)
                    print(str(current_page) + '#ERROR: not interactable')
                    driver.find_element(By.XPATH, "//div[@class='css-t3xrds e856ufb2']").click()

                    
                #Scrape through the job information
                try:
                    company_name.append(driver.find_element(By.XPATH, "//div[@class='css-xuk5ye e1tk4kwz5']").text)
                except:
                    company_name.append("#N/A") #Set a not found value
                    pass
                
                try:
                    rating.append(driver.find_element(By.XPATH, "//*[@id='JDCol']/div/article/div/div[1]/div/div/div/div/div[1]/div[1]/span").text)
                except:
                    rating.append("#N/A") #Set a not found value

                try:
                    job_title.append(driver.find_element(By.XPATH, "//div[@class='css-1j389vi e1tk4kwz2']").text)
                except:
                    job_title.append("#N/A") #Set a not found value
                    pass

                try:
                    location.append(driver.find_element(By.XPATH, "//div[@class='css-56kyx5 e1tk4kwz1']").text)
                except:
                    location.append("#N/A") #Set a not found value
                    pass

                try:
                    job_description.append(driver.find_element(By.XPATH, "//div[@id='JobDescriptionContainer']").text)
                except:
                    job_description.append("#N/A") #Set a not found value
                    pass

                try:
                    salary_estimate.append(driver.find_element(By.XPATH, "//*[@id='JDCol']/div/article/div/div[1]/div/div/div/div/div[1]/div[4]").text)
                except:
                    salary_estimate.append("#N/A") #Set a not found value
                    pass
                
                try:
                    company_size.append(driver.find_element(By.XPATH, "//div[@id='CompanyContainer']//span[text()='Size']//following-sibling::*").text)
                except:
                    company_size.append("#N/A") #Set a not found value
                    pass
                
                try:
                    company_type.append(driver.find_element(By.XPATH, "//div[@id='CompanyContainer']//span[text()='Type']//following-sibling::*").text)
                except:
                    company_type.append("#N/A") #Set a not found value
                    pass
                    
                try:
                    company_sector.append(driver.find_element(By.XPATH, "//div[@id='CompanyContainer']//span[text()='Sector']//following-sibling::*").text)
                except:
                    company_sector.append("#N/A") #Set a not found value
                    pass
                    
                try:
                    company_industry.append(driver.find_element(By.XPATH, "//div[@id='CompanyContainer']//span[text()='Industry']//following-sibling::*").text)
                except:
                    company_industry.append("#N/A") #Set a not found value
                    pass
                    
                try:
                    company_founded.append(driver.find_element(By.XPATH, "//div[@id='CompanyContainer']//span[text()='Founded']//following-sibling::*").text)
                except:
                    company_founded.append("#N/A") #Set a not found value
                    pass
                    
                try:
                    company_revenue.append(driver.find_element(By.XPATH, "//div[@id='CompanyContainer']//span[text()='Revenue']//following-sibling::*").text)
                except:
                    company_revenue.append("#N/A") #Set a not found value
                    pass
                    
                    
                    
                done = True
                
       #Click the Next Page button         
        if done:
            print(str(current_page) + ' ' + 'out of' +' '+ str(num_pages) + ' ' + 'pages done')
            driver.find_element(By.XPATH, "//span[@alt='next-icon']").click()   
            current_page = current_page + 1
            time.sleep(5)
            



    #Converts the dictionary object into a pandas DataFrame.
    driver.close()
    df = pd.DataFrame({'Company Name': company_name, 
    'Rating' : rating,
    'Job Title': job_title,
    'Location': location,
    'Job Description': job_description,
    'Salary Estimate': salary_estimate,
    'Size': company_size,
    'Type of Ownership': company_type,
    'Sector': company_sector,
    'Industry' : company_industry,
    'Founded' : company_founded, 
    'Revenue': company_revenue})
    
    df.to_csv('Data Scientist 2.csv')

In [15]:
#Glassdoor got error everytime the scraper reached page 17/30. Scrape it two times, then merge it in one file. 
jobs("Data Scientist", 15)

C:\Users\alya\AppData\Local\Temp/ipykernel_20920/1000424524.py:7: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(executable_path=chrome_path, options=options)

1 out of 15 pages done
2 out of 15 pages done
3 out of 15 pages done
4 out of 15 pages done
5 out of 15 pages done
6 out of 15 pages done
7 out of 15 pages done
8 out of 15 pages done
9 out of 15 pages done
10 out of 15 pages done
11 out of 15 pages done
12 out of 15 pages done
13 out of 15 pages done
14 out of 15 pages done
15 out of 15 pages done

In [18]:
df = pd.read_csv('Data Scientist.csv')
df

,Unnamed: 0,Company Name,Rating,Job Title,Location,Job Description,Salary Estimate,Size,Type of Ownership,Sector,Industry,Founded,Revenue
0,0,Jun Group\n4.2,4.2,Data Scientist (Remote),"New York, NY",Do you hate advertising? We do too. Our view i...,$80K - $126K (Glassdoor est.),51 to 200 Employees,Company - Private,Information Technology,Internet & Web Services,2005.0,Unknown / Non-Applicable
1,1,Liberty Mutual Insurance\n3.9,3.9,Junior Data Scientist REMOTE,Remote,The Advanced Analytics and Modeling department...,Employer Provided Salary:$99K - $115K,10000+ Employees,Company - Private,Insurance,Insurance Carriers,1912.0,$10+ billion (USD)
2,2,the NBA\n4.2,4.2,Data Scientist,"New York, NY","At the NBA, we’re passionate about growing and...",$97K - $141K (Glassdoor est.),1001 to 5000 Employees,Company - Private,"Arts, Entertainment & Recreation",Sports & Recreation,1946.0,$5 to $10 billion (USD)
3,3,EXL Services\n3.7,3.7,Fully Remote Data Scientist,Remote,Company Overview and Culture\nEXL (NASDAQ: EXL...,NaN,10000+ Employees,Company - Public,Management & Consulting,Business Consulting,1999.0,$500 million to $1 billion (USD)
4,4,KAYAK\n4.4,4.4,Data Scientist,"Boston, MA","KAYAK, part of Booking Holdings (NASDAQ: BKNG)...",$91K - $124K (Glassdoor est.),1001 to 5000 Employees,Subsidiary or Business Segment,Information Technology,Internet & Web Services,2004.0,$100 to $500 million (USD)
...,...,...,...,...,...,...,...,...,...,...,...,...,...
445,445,TD Bank\n4.0,4.0,Data Scientist II (Remote),"New York, NY","TD Description\nAbout TD Bank, America's Most ...",$87K - $132K (Glassdoor est.),10000+ Employees,Company - Public,Financial Services,Banking & Lending,1855.0,$10+ billion (USD)
446,446,KAYAK\n4.4,4.4,Data Scientist,"Boston, MA","KAYAK, part of Booking Holdings (NASDAQ: BKNG)...",$91K - $124K (Glassdoor est.),1001 to 5000 Employees,Subsidiary or Business Segment,Information Technology,Internet & Web Services,2004.0,$100 to $500 million (USD)
447,447,Levi Strauss & Co.\n4.0,4.0,Data Scientist II,Remote,"JOB DESCRIPTION\nAt Levi Strauss & Co, we are ...",NaN,10000+ Employees,Company - Public,Retail & Wholesale,"Department, Clothing & Shoe Stores",1853.0,$2 to $5 billion (USD)
448,448,Booz Allen Hamilton\n4.2,4.2,"Data Scientist, Junior","Arlington, VA",The Challenge:\nAre you excited at the prospec...,$77K - $115K (Glassdoor est.),10000+ Employees,Company - Public,Management & Consulting,Business Consulting,1914.0,$5 to $10 billion (USD)
449,449,Bayer\n4.1,4.1,Data Scientist - Remote,"Creve Coeur, MO","At Bayer we’re visionaries, driven to solve th...",$86K - $119K (Glassdoor est.),10000+ Employees,Company - Public,Pharmaceutical & Biotechnology,Biotech & Pharmaceuticals,1863.0,$10+ billion (USD)

In [19]:
df = pd.read_csv('Data Scientist 2.csv')
df

,Unnamed: 0,Company Name,Rating,Job Title,Location,Job Description,Salary Estimate,Size,Type of Ownership,Sector,Industry,Founded,Revenue
0,0,nLeague services Inc.\n3.8,3.8,Data Scientist,Remote,Data Scientist\nLocation: 100% remote\nDuratio...,Employer Provided Salary:$90 - $95 Per Hour,1 to 50 Employees,Company - Private,Information Technology,Information Technology Support Services,2001.0,Less than $1 million (USD)
1,1,Liberty Mutual Insurance\n3.9,3.9,Junior Data Scientist REMOTE,Remote,The Advanced Analytics and Modeling department...,Employer Provided Salary:$99K - $115K,10000+ Employees,Company - Private,Insurance,Insurance Carriers,1912.0,$10+ billion (USD)
2,2,Alaska Airlines\n3.9,3.9,Data Scientist,"Seattle, WA",Company Alaska Airlines\nThe Team\nGuided by o...,$108K - $149K (Glassdoor est.),10000+ Employees,Company - Public,Transportation & Logistics,"Airlines, Airports & Air Transportation",1932.0,$5 to $10 billion (USD)
3,3,saransh inc\n3.6,3.6,Data Scientist,"Santa Clara, CA","Greetings,\nHope you are doing well!\nWe have ...",Employer Provided Salary:$75 - $80 Per Hour,1 to 50 Employees,Company - Private,Information Technology,Information Technology Support Services,NaN,Less than $1 million (USD)
4,4,GTA (Global Technology Associates)\n4.4,4.4,Data Scientist III,"Englewood, CO",Looking for a Data Scientist III\nWhat you wil...,Employer Provided Salary:$80K,Unknown,Company - Private,NaN,NaN,NaN,Unknown / Non-Applicable
...,...,...,...,...,...,...,...,...,...,...,...,...,...
445,445,LOCKHEED MARTIN CORPORATION\n4.1,4.1,Data Scientist,"Bethesda, MD",COVID-19 continues to significantly impact our...,NaN,10000+ Employees,Company - Public,Aerospace & Defense,Aerospace & Defense,1995.0,$10+ billion (USD)
446,446,Dworo.io,NaN,Data Scientist,"San Francisco, CA",We are looking for a Data Scientist to analyze...,Employer Provided Salary:$76K - $88K,NaN,NaN,NaN,NaN,NaN,NaN
447,447,FedEx Ground\n3.4,3.4,Data Scientist/Sr. Data Scientist,Remote,Job Summary\nEmploys scientific methods and da...,NaN,10000+ Employees,Subsidiary or Business Segment,Transportation & Logistics,Taxi & Car Services,2000.0,$10+ billion (USD)
448,448,Sedna Consulting Group\n4.1,4.1,Data Scientist,"Tallahassee, FL",7 to 10 years of IT work experience with demon...,Employer Provided Salary:$50 - $75 Per Hour,1 to 50 Employees,Company - Private,Information Technology,Computer Hardware Development,NaN,$1 to $5 million (USD)
449,449,Ascend Innovations\n3.4,3.4,Data Scientist,Remote,Data Scientist – Machine Learning\nOverview\nA...,NaN,10000+ Employees,Nonprofit Organization,Healthcare,Health Care Services & Hospitals,NaN,$500 million to $1 billion (USD)

In [24]:
#Two files above are combined using cmd. This combined file will be used for the rest of this project.
df = pd.read_csv('data-science.csv')
df

,Unnamed: 0,Company Name,Rating,Job Title,Location,Job Description,Salary Estimate,Size,Type of Ownership,Sector,Industry,Founded,Revenue
0,0,nLeague services Inc.\n3.8,3.8,Data Scientist,Remote,Data Scientist\nLocation: 100% remote\nDuratio...,Employer Provided Salary:$90 - $95 Per Hour,1 to 50 Employees,Company - Private,Information Technology,Information Technology Support Services,2001,Less than $1 million (USD)
1,1,Liberty Mutual Insurance\n3.9,3.9,Junior Data Scientist REMOTE,Remote,The Advanced Analytics and Modeling department...,Employer Provided Salary:$99K - $115K,10000+ Employees,Company - Private,Insurance,Insurance Carriers,1912,$10+ billion (USD)
2,2,Alaska Airlines\n3.9,3.9,Data Scientist,"Seattle, WA",Company Alaska Airlines\nThe Team\nGuided by o...,$108K - $149K (Glassdoor est.),10000+ Employees,Company - Public,Transportation & Logistics,"Airlines, Airports & Air Transportation",1932,$5 to $10 billion (USD)
3,3,saransh inc\n3.6,3.6,Data Scientist,"Santa Clara, CA","Greetings,\nHope you are doing well!\nWe have ...",Employer Provided Salary:$75 - $80 Per Hour,1 to 50 Employees,Company - Private,Information Technology,Information Technology Support Services,NaN,Less than $1 million (USD)
4,4,GTA (Global Technology Associates)\n4.4,4.4,Data Scientist III,"Englewood, CO",Looking for a Data Scientist III\nWhat you wil...,Employer Provided Salary:$80K,Unknown,Company - Private,NaN,NaN,NaN,Unknown / Non-Applicable
...,...,...,...,...,...,...,...,...,...,...,...,...,...
897,446,KAYAK\n4.4,4.4,Data Scientist,"Boston, MA","KAYAK, part of Booking Holdings (NASDAQ: BKNG)...",$91K - $124K (Glassdoor est.),1001 to 5000 Employees,Subsidiary or Business Segment,Information Technology,Internet & Web Services,2004,$100 to $500 million (USD)
898,447,Levi Strauss & Co.\n4.0,4.0,Data Scientist II,Remote,"JOB DESCRIPTION\nAt Levi Strauss & Co, we are ...",NaN,10000+ Employees,Company - Public,Retail & Wholesale,"Department, Clothing & Shoe Stores",1853,$2 to $5 billion (USD)
899,448,Booz Allen Hamilton\n4.2,4.2,"Data Scientist, Junior","Arlington, VA",The Challenge:\nAre you excited at the prospec...,$77K - $115K (Glassdoor est.),10000+ Employees,Company - Public,Management & Consulting,Business Consulting,1914,$5 to $10 billion (USD)
900,449,Bayer\n4.1,4.1,Data Scientist - Remote,"Creve Coeur, MO","At Bayer we’re visionaries, driven to solve th...",$86K - $119K (Glassdoor est.),10000+ Employees,Company - Public,Pharmaceutical & Biotechnology,Biotech & Pharmaceuticals,1863,$10+ billion (USD)
901,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN